# - Artifacts
server.js
public/js/*.js
!public/js/*.min.js
public/css/core.css


# - Sublime Text 2 Project files
*.sublime-*

# - *Storm
.idea/

# - OSX
.DS_Store
.AppleDouble
.LSOverride
Icon

# - Thumbnails
._*

# - Files that might appear on external disk
.Spotlight-V100
.Trashes

# - Linux
.*
!.gitignore
!.gitkeep
*~

# - NodeJs specific stuff
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules/