!!! 5
//if lt IE 7
    html.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
    html.lt-ie9.lt-ie8(lang='en')
//if IE 8
    html.lt-ie9(lang='en')
//[if gt IE 8]><!
html(lang='en')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title WebGLGame
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')
        meta(name='robots', content='noindex')
        link(rel='icon', type='image/x-icon', href='/favicon.ico')
        block stylesheets
            link(rel='stylesheet', href='css/core.css')
        block headscripts

    body

        .debugLayer

        //- This is where the magic happens!
        block container

        block footscripts
            script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
            script(src='lib/three.stable.min.js')
            script(src='js/Core.js')
            script(src="js/BowShock.js")
            script(src="js/Config.js")
            script(src="js/BowShock/Vector2.js")
            script(src="js/BowShock/Collider/Collider.js")
            script(src="js/BowShock/Collider/RectangleCollider.js")
            script(src="js/BowShock/Collider/CircleCollider.js")
            script(src="js/BowShock/Component/ComponentAssembly.js")
            script(src="js/BowShock/Component/Component.js")
            script(src="js/BowShock/Component/RenderComponent.js")
            script(src="js/BowShock/Component/LayerComponent.js")
            script(src="js/BowShock/Component/InputComponent.js")
            script(src="js/BowShock/Component/CameraComponent.js")
            script(src="js/BowShock/Component/SceneComponent.js")
            script(src="js/BowShock/Component/EntityComponent.js")
            script(src="js/BowShock/Component/Entity/TransformComponent.js")
            script(src="js/BowShock/Component/Entity/SpriteComponent.js")
            script(src="js/BowShock/Component/Entity/CollisionComponent.js")

            script(src="js/SpriteAnimation.js")

            script(src="js/BowShock/ComponentFactory.js")
            script(src="js/BowShock/Layer.js")
            script(src="js/BowShock/Scene.js")
            script(src="js/BowShock/Entity.js")

            script(src="js/Game.js")

            script(src="js/Entities/WorldEntity.js")
            script(src="js/Entities/PlayerEntity.js")

            script(src="js/Scenes/LevelScene.js")


            script(src='js/main.js')