@import "reset.less";
@import "variables.less";
@import "mixins.less";
@import "font-awesome.less";
@import "buzz.less";

body { margin: 0; padding: 0; background-color: #000000; overflow: hidden; }
canvas { width: 100%, height: 100% ;}

#editor {
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
}
.gui {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    display: inline;
    z-index: 99;
}
.debug { color: #ffa3a3; font-family: Monaco; }
.debugLayer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff;
    display: none;
}
.collider {
    border: 1px solid #d3d3d3;
    position: absolute;
    &.circle {
        border: 1px dashed #d3ffd3;
    }
}