#game { background: black; }

.debug { color: #d3d3d3; font-family: Monaco; }
.debugLayer {
    border: 1px solid #00ff00;
    width: 800px; height: 600px;
    position: absolute;
    overflow: hidden;
}
.collider {
    border: 1px solid #d3d3d3;
    position: absolute;
}